@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/roulette\/styles\/roulette\.scss}line{font-family:\000033}}
body {
  background-color: #eee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/standup75\/Code\/roulette\/styles\/roulette\.scss}line{font-family:\000034}}
roulette {
  display: block;
  width: 640px;
  margin: 50px;
}
